#kalender {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}

.dag {
	text-align: center;
}

.dag:hover {
	background-color: #4CAF50;
	border-radius: 5px;
}

.invDag {
	text-align: center;
	color: #CCCCCC;
}