/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	background-color: #FFFFFF;
	color: #000000;
}

.navbar-collapse {
	float: right;
}